ObjectCode/
**/ObjectCode/
bin/
gen/
obj/
.settings/
notes
*.orig
*.bak
**/*.user
**/*.suo
**/*.ncb
**/*.aps
**/Release/
**/Debug/
**/Release IPP/
burnlib/lib/
Elevator/ReleasePS/
flac/obj/
freetype/objs/
in_mod/lib/temp/
in_mod/mikamp/Release/
in_vorbis/Win32/
libmp4v2/libmp4v2___Win32_Release/
libogg/win32/Release/
libogg/win32/Static_Release/
libsndfile/Profiling/
libtheora/win32/VS2008/libtheora/Win32/
libvorbis/win32/Win32/
nde/Lib/
out_ds/wa2_release/
out_wave/out_wave_release
winampAll/lib/
winampAll/Win32/
.DS_Store
nsutil/nsutil.lib
nsutil/nsutil.exp
resources/WaSDP/*.exe
in_mod/lib/
mp3/utillib/lib/
mp3/mathlib/lib/
*.user
[Rr]elease/
/Elevator/DebugPS
/Elevator/IFileTypeRegistrar.h
/Elevator/IFileTypeRegistrar_i.c
/Elevator/IFileTypeRegistrar_p.c
/f263/Release.w5s
/f263/Debug.w5s
/libmp4v2/libmp4v2___Win32_Debug_Winamp
/libogg/win32/Static_Debug
Release_x86_Dll/
**/*/x86*Debug*/
**/*/x64*Debug*/
**/*/x86*Release*/
**/*/x64*Release*/
**/.vs/
**/out/
external_dependencies/libFLAC/src/libFLAC/ia32/cpu_asm.obj
external_dependencies/libFLAC/src/libFLAC/ia32/fixed_asm.obj
external_dependencies/libFLAC/src/libFLAC/ia32/lpc_asm.obj
/Elevator/IFileTypeRegistrar_32.h

external_dependencies/vcpkg/
/vcpkg_installed
/external_dependencies/x86-windows-static
*.stamp
/Build/Winamp_x86_Debug
/Build/Winamp_x86_Release
/Src/external_dependencies/vcpkg
/Src/Elevator/IFileTypeRegistrar_32.h
/Src/Elevator/IFileTypeRegistrar_64.h
/Src/Elevator/IFileTypeRegistrar_i.c
/Src/Elevator/IFileTypeRegistrar_p.c
/Src/Elevator/IFileTypeRegistrar_32.h
/Src/Elevator/IFileTypeRegistrar_i.c
/Src/Elevator/IFileTypeRegistrar_p.c
/Src/Plugins/DSP/sc_serv3/messagefile.rc
/UpgradeLog.htm
/Qt/Qt6.3.1/windows

/vcpkg
/Src/Plugins/Library/ml_fanzone.0
/Build/platforms
/Qt/DLL_5.12_x86/Debug_Commercial
/Qt/DLL_5.12_x86/Release_Commercial
/Src/Plugins/Library/ml_fanzone - Copy
/Src/external_dependencies/CEF
/Src/external_dependencies/CEF.0
/Src/external_dependencies/CEF3