#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_LICENSE DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
	CONTROL         "",IDC_ULICON,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_INTROTEXT,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_EDIT1,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
END

IDD_DIR DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
	CONTROL         "",IDC_DIR,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_BROWSE,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_ULICON,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_SELDIRTEXT,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_CHECK1,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_SPACEAVAILABLE,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_SPACEREQUIRED,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
    CONTROL         "",IDC_INTROTEXT,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
END

IDD_SELCOM DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
	CONTROL         "",IDC_COMBO1,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_ULICON,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_TEXT2,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_TEXT1,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_SPACEREQUIRED,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_INTROTEXT,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_TREE1,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
END

IDD_INST DIALOGEX 0, 0, 204, 64
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CONTROLPARENT | WS_EX_APPWINDOW
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
	CONTROL         "",3,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",2,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",1,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_CHILDRECT,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
	CONTROL         "",IDC_VERSTR,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
END

IDD_INSTFILES DIALOGEX 0, 0, 204, 64
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_PROGRESS,"msctls_progress32",PBS_SMOOTH | WS_BORDER,4,28,196,11
    CONTROL         "",IDC_INTROTEXT,"Static",SS_LEFTNOWORDWRAP | SS_NOPREFIX | SS_ENDELLIPSIS,4,16,196,8
	CONTROL         "",IDC_LIST1,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
    CONTROL         "",IDC_ULICON,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
    CONTROL			"",IDC_SHOWDETAILS,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
END

IDD_UNINST DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_ULICON,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
    CONTROL         "",IDC_UNINSTFROM,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
    CONTROL         "",IDC_EDIT1,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
    CONTROL         "",IDC_INTROTEXT,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
END

IDD_LICENSE_FSRB DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_ULICON,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
    CONTROL         "",IDC_INTROTEXT,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
    CONTROL         "",IDC_EDIT1,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
    CONTROL         "",IDC_LICENSEAGREE,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
    CONTROL         "",IDC_LICENSEDISAGREE,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
END

IDD_LICENSE_FSCB DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_ULICON,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
    CONTROL         "",IDC_INTROTEXT,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
    CONTROL         "",IDC_EDIT1,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
    CONTROL         "",IDC_LICENSEAGREE,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
END

IDD_VERIFY DIALOGEX 0, 0, 162, 22
STYLE DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
	CONTROL         "",IDC_STR,"Static", NOT WS_VISIBLE | WS_DISABLED,0,0,0,0
END