; use this file to specify makensis build types
;
; Format: (Configuration name),(primary configuration id)[,(secondary configuration id)]
;

"Lite Edition",lite
"Full Edition",full
;"Pro Edition",full,pro

;"Standard Edition",std,eMusic-7plus,opencandy_final
;"Bundle Edition",full,bundle,eMusic-7plus,opencandy_final
;"EMusic Edition",full,eMusic-7plus,opencandy_final